@using Faker.Model


@if (Field != null)
{
    @switch (Field.Field.FieldType)
    {  
        case FieldType.Email:
        case FieldType.ExampleEmail:
        case FieldType.UserName:
        case FieldType.UserNameUnicode:
        case FieldType.Password:
        case FieldType.Letter:
        case FieldType.Sentence:
        case FieldType.Simple:
        case FieldType.Iban:
        case FieldType.StreetAddress:
        case FieldType.Latitude:
        case FieldType.Longitude:
        case FieldType.Price:
        case FieldType.Categories:
        case FieldType.Past:
        case FieldType.PastOffset:
        case FieldType.Soon:
        case FieldType.SoonOffset:
        case FieldType.Future:
        case FieldType.FutureOffset:
        case FieldType.Account:
        case FieldType.Amount:
        case FieldType.CreditCardNumber:
        case FieldType.Paragraph:
        case FieldType.Slug:
        case FieldType.Gender:
        case FieldType.FirstName:
        case FieldType.LastName:
        case FieldType.FullName:
        case FieldType.Prefix:
        case FieldType.FindName:
        default:
            <span>@Value</span>
            break;
        case FieldType.ImageDataUri:
        case FieldType.ImageLoremFlickrUrl:
        case FieldType.ImageLoremPixelUrl:
        case FieldType.ImagePicsumUrl:
        case FieldType.ImagePlaceholderUrl:
        case FieldType.Avatar:
            <img src = "@Value" alt="@Field.Name"/>
            break;
    }
}



@code {
    [Parameter]
    public FieldWrapper? Field { get; set; }
    [Parameter]
    public string? Value{ get; set; }
}
